.about-us {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
  padding-top: 30px;
}

.about-us__container {
  width: 260px;
  margin: 0 auto;
}

.about-us__heading {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__list {
  @include list-style-reset;
}

.about-us__item {
  width: 200px;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  background-repeat: no-repeat;
  background-position: top left;

  &--material {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--by-hand {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--support {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--packing {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 60px;
  }

  .about-us__container {
    width: $tablet-content-width;
  }

  .about-us__heading {
    margin-bottom: 60px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
  }

  .about-us__item {
    width: 299px;
    padding-bottom: 60px;
    padding-right: 35px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .about-us__container {
    width: $desktop-content-width - 175px;
    padding-left: 175px;
  }

  .about-us__item {
    width: 300px;
    padding-bottom: 60px;
    padding-right: 50px;
    font-size: 20px;
  }
}
