.catalog__container {
  width: 260px;
  margin: 0 auto;
}

.catalog__list {
  @include list-style-reset;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    width: $tablet-content-width;
    padding-top: 85px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    width: $desktop-content-width;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item:not(:nth-child(3n - 2)) {
    margin-left: 50px;
  }
}
