.contacts {
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: auto 6px;
}

.contacts__heading {
  width: 260px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__info {
  width: 260px;
  margin: 0 auto;
  color: $font-gray;
}

.contacts__value {
  width: 260px;
  margin: 0 auto;
  color: $font-gray;

  &--mail {
    text-decoration: none;
    border-bottom: 1px solid $aquamarine;

    &:hover,
    &:focus {
      color: $aquamarine-dark-interactive;
      border-bottom: 1px solid $aquamarine-dark-interactive;
    }

    &:active {
      color: rgba($aquamarine-dark-interactive, 0.3);
      border-bottom: 1px solid rgba($aquamarine-dark-interactive, 0.1);
    }
  }
}

.contacts__map {
  display: block;
  width: 322px;
  height: 457px;
  margin: 0 auto;
}

.contacts__letter {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    width: $tablet-content-width;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .contacts__container {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__heading {
    width: 100%;
  }

  .contacts__info {
    width: 50%;
  }

  .contacts__map {
    width: 100%;
  }

  .contacts__letter {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;
    min-height: 460px;
    width: $desktop-content-width - 530px;
    margin: 0 auto;
    padding-right: 530px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;
  }
}
