.contacts {
  position: relative;
  padding-top: 42px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
    background-position: center;
    transform: rotate(180deg);
  }
}

.contacts__heading {
  width: 260px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__info {
  display: flex;
  align-items: flex-start;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: $font-gray;
}

.contacts__name {
  width: 77px;
  flex-shrink: 0;
}

.contacts__value {
  color: $font-gray;

  &--mail {
    text-decoration: none;
    border-bottom: 1px solid $aquamarine;

    &:hover,
    &:focus {
      color: $aquamarine-dark-interactive;
      border-bottom: 1px solid $aquamarine-dark-interactive;
    }

    &:active {
      color: rgba($aquamarine-dark-interactive, 0.3);
      border-bottom: 1px solid rgba($aquamarine-dark-interactive, 0.1);
    }
  }
}

.contacts__container {
  margin-bottom: 36px;
}

.contacts__map--google {
  width: 322px;
  height: 457px;
  left: 50%;
  margin-left: -161px;
  position: absolute;
}

.contacts__map {
  display: block;
  width: 322px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 42px;
  z-index: -1;
}

.contacts__letter {
  width: 256px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 77px;

    &::before {
      height: 15px;
      background-size: auto 15px;
    }
  }

  .contacts__heading {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      top: -15px;
      right: 3px;
      background-image: url("../img/icon-flag.svg");
      background-size: 47px 81px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .contacts__container {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .contacts__heading {
    width: $tablet-content-width;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__info {
    width: $tablet-content-width/2;
    margin-bottom: 60px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__map {
    width: 768px;
    height: auto;
    margin-bottom: 50px;
  }

  .contacts__map--google {
    width: 768px;
    height: 457px;
    margin-left: -384px;
  }

  .contacts__letter {
    width: 225px;
    margin: 0 auto;
    margin-bottom: 57px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    min-height: 460px;
    padding-top: 95px;
    margin-bottom: 100px;

    &::before {
      width: $desktop-content-width;
      margin: 0 auto;
      height: 21px;
      background-size: auto 21px;
    }
  }

  .contacts__heading {
    width: $desktop-content-width - 705px;
    margin: 0 auto;
    margin-bottom: 47px;
    padding-top: 69px;
    padding-right: 530px;
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: 60px;
      left: 62px;
    }
  }

  .contacts__container {
    width: $desktop-content-width - 705px;
    padding-right: 530px;
    padding-left: 175px;
    margin: 0 auto;
    margin-bottom: 49px;
  }

  .contacts__info {
    width: 300px;
    margin: 0;
    padding-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__letter {
    display: block;
    width: 230px;
    margin: 0 auto;
    position: relative;
    left: -235px;
  }

  .contacts__map {
    position: absolute;
    width: 525px;
    height: auto;
    top: 95px;
    left: 50%;
  }

  .contacts__map--google {
    width: 525px;
    height: 457px;
    top: 95px;
    left: 50%;
    margin-left: 0;
    transform: none;
  }
}
