.copyright {
  display: flex;
  justify-content: space-around;
}

.copyright__heading {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  color: $black;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
}

@media (min-width: $desktop-width) {
}
