.copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(229, 229, 229);
  padding: 15px 40px;
}

.copyright__heading {
  margin-top: 11px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $black;

  &:active {
    opacity: 0.3;
  }
}

.copyright__link {
  color: $black;
  text-decoration: none;
  fill: $aquamarine;

  &:hover,
  &:focus {
    fill: $aquamarine-dark-interactive;
  }

  &:active {
    fill: $aquamarine-dark-interactive;
    opacity: 0.3;
  }
}

.copyright__logo {
  position: relative;
  bottom: 8px;
  right: -9px;
  margin-bottom: -30px;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 183px;
    padding: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    margin-top: 3px;
  }

  .copyright__logo {
    margin-bottom: -30px;
  }
}
