.footer {
  background-color: $background-gray-light;
}

.footer__container {
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
}

.footer__link {
  &:not(&--current):hover,
  &:not(&--current):focus {
    fill: $aquamarine-dark-interactive;
  }

  &:not(&--current):active {
    fill: $aquamarine-dark-interactive;
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .footer__logo {
    @include visually-hidden;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 50px;
    padding-bottom: 28px;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: $tablet-content-width;
    padding: 0;
  }

  .footer__logo {
    width: 183px;
  }
}

@media (min-width: $desktop-width) {
  .footer__container {
    width: $desktop-content-width;
  }
}
