.form-size__legend {
  color: $font-gray;
}

.form-size__fieldset {
  border: none;
}

.form-size__list {
  @include list-style-reset;
}

.form-size__label {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font-gray;
}

.form-size__submit {
  outline: none;
  border: none;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  background-color: $aquamarine;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
