@media (min-width: $tablet-width) {
  .header__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 auto;
    width: $tablet-content-width;
  }
}

@media (min-width: $desktop-width) {
  .header__container {
    width: $desktop-content-width;
  }
}
