.logo {
  border-top: 2px solid $border-light-gray;
  width: 86px;
  margin: 0 auto;
}

.logo__link {
  &:not(&--current):hover,
  &:not(&--current):focus {
    opacity: 0.6;
  }

  &:not(&--current):active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-334px);
    top: 20px;
    z-index: 1;
    width: 113px;
    height: 46px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
}
