.logo {
  width: 100%;
  border-top: 2px solid $border-light-gray;
  padding-top: 20px;
  padding-bottom: 22px;
}

.logo__link {
  width: 86px;
  height: 35px;

  &:not(&--current):hover,
  &:not(&--current):focus {
    opacity: 0.6;
  }

  &:not(&--current):active {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-width-only) {
  .logo__link {
    display: block;
    width: 87px;
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-334px);
    top: 20px;
    z-index: 1;
    width: 113px;
    height: 46px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    width: 149px;
    height: 72px;
    left: 50%;
    transform: translateX(-50%);
  }
}
