.modal-cart {
  width: 260px;
}

.modal-cart__heading {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-size__list {
  display: flex;
  justify-content: space-between;
}

.form-size__radio {
  display: none;
}

@media (min-width: $tablet-width) {
  .modal-cart {
    width: 560px;
  }
}

@media (min-width: $desktop-width) {
  .modal-cart {
    width: 570px;
  }
}
