.navigation {
  position: relative;
}

.navigation__switch {
  @include button-style-reset;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(80px);
  width: 21px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: top, center;
  cursor: pointer;

  &--open {
    background-image: url("../img/icon-menu-close.svg");
  }

  &--close {
    background-image: url("../img/icon-menu-open.svg");
  }
}

.navigation__list {
  @include list-style-reset;
}

.navigation__item {
  border-top: 2px solid $border-light-gray;

  &:last-child {
    border-bottom: 2px solid $border-light-gray;
  }
}

.navigation__link {
  display: block;
  position: relative;
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 35px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $black;
  fill: rgba($icon-fill-color, 0.2);

  &:not(&--current):hover,
  &:not(&--current):focus {
    color: rgba($black, 0.6);
    fill: $aquamarine;
  }

  &:not(&--current):active {
    color: rgba($black, 0.3);
    fill: rgba($aquamarine, 0.3);
  }

  &--search {
    padding-right: 0;
    padding-left: 45px;
  }

  &--cart {
    padding-right: 0;
    padding-left: 45px;
  }
}

.navigation__icon {
  position: absolute;
  left: 0;
}

@media (max-width: $mobile-width-only) {
  .navigation__item {
    &--action {
      @include visually-hidden;
    }
  }

  .navigation__info {
    @include visually-hidden;
  }
}

@media (min-width: $tablet-width) {
  .navigation {
    background-image: linear-gradient(transparent 90px,
                                      $border-light-gray 90px, $border-light-gray 91px,
                                      $background-gray 91px, $background-gray 100%);
    &--gray {
      background-image: linear-gradient(transparent 90px,
        $border-light-gray 90px, $border-light-gray 91px,
        $background-gray-light 91px, $background-gray-light 100%);
    }
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .navigation__switch {
    display: none;
  }

  .navigation__link {
    width: auto;
  }

  .navigation__item {
    border: none;

    &--search span {
      @include visually-hidden;
    }
  }

  .navigation__info {
    margin-left: auto;
    padding: 26px 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .navigation__list::before {
    content: "";
    order: -1;
    width: 100%;
  }

  .navigation__item {
    &--search {
      margin-left: auto;
      order: -2;
    }

    &--cart {
      order: -2;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .navigation__item {
    &--action {
      @include visually-hidden;
    }
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    width: $desktop-content-width;
  }

  .navigation__list::before {
    content: "";
    order: 2;
    width: 100%;
  }

  .navigation__item {
    &--search {
      margin-left: auto;
    }

    &:nth-child(n+5) {
      order: 3;
    }
  }

  .navigation__info {
    order: 3;
  }
}
