.navigation {
  position: relative;

  &__switch {
    position: absolute;
    top: -50px;
    right: 0;
    width: 21px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top, center;

    &--open {
      background-image: url("../img/icon-menu-close.svg");
    }

    &--close {
      background-image: url("../img/icon-menu-open.svg");
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    border-top: 2px solid rgba(236, 236, 236, 1);

    &:last-child {
      border-bottom: 2px solid rgba(236, 236, 236, 1);
    }
  }

  &__link {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: $black;
    background-color: $white;
  }

  &__link:not(&__link--current):hover,
  &__link:not(&__link--current):focus {
    color: rgba($black, 0.6);
  }

  &__link:not(&__link--current):active {
    color: rgba($black, 0.3);
  }
}
