.order {
  padding-top: 24px;
}

.order__form {
  margin-bottom: 56px;
}

.order__container {
  width: 260px;
  margin: 0 auto;
}

.order__promotion {
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  font-size: 13px;
  line-height: 24px;
  color: $font-gray;
}

.order__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid $aquamarine;
}

.order__legend {
  padding-right: 22px;
  font-size: 17px;
  line-height: 16px;
  color: $aquamarine;
  font-weight: bold;
  text-transform: uppercase;
}

.order__input {
  width: 100%;
  font-size: 19px;
  line-height: 18px;
  color: $font-gray;

  outline: none;
  border: none;
  border-bottom: 2px solid $black;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $aquamarine;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba($font-gray, 0.3);
  }

  &--tel::placeholder {
    font-size: 19px;
    text-transform: uppercase;
  }

  &--no-display {
    display: none;
  }
}

.order__input--text {
  margin-top: 10px;
  padding-bottom: 12px;
  margin-bottom: 22px;
}

.order__fieldset--type {
  padding-bottom: 27px;
}

.order__legend--type {
  margin-bottom: 27px;
}

.order__label--radio {
  position: relative;
  padding-top: 7px;
  padding-left: 64px;
  margin-bottom: 17px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    border: 2px solid $font-gray;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}

.order__input--radio:checked + .order__label--radio::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $aquamarine;
}

.order__fieldset--color {
  padding-bottom: 20px;
}


.order__legend--color {
  margin-bottom: 15px;
}

.order__label--checkbox {
  position: relative;
  padding-top: 22px;
  padding-left: 64px;
  margin-bottom: 21px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    border: 2px solid $font-gray;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
}

.order__input--checkbox:checked + .order__label--checkbox::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 10px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 22px 16px;
}

.order__fieldset--name {
  margin-bottom: 10px;
}

.order__legend--name {
  margin-bottom: 30px;
}

.order__legend--tel {
  padding-right: 29px;
  margin-bottom: 18px;
}

.order__input--tel {
  width: 220px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  padding-right: 40px;
  background-image: url("../img/icon-phone-opacity.svg");
  background-repeat: no-repeat;
  background-size: 25px 24px;
  background-position: top 3px right 7px;

  &:hover,
  &:focus,
  &:active {
    background-image: url("../img/icon-phone-aquamarine.svg");
  }
}

.order__legend--email {
  margin-bottom: 15px;
}

.order__input--email {
  width: 220px;
  padding-bottom: 15px;
  margin-bottom: 32px;
  padding-right: 40px;
  background-image: url("../img/icon-mail-opacity.svg");
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: top 0 right 4px;

  &:hover,
  &:focus,
  &:active {
    background-image: url("../img/icon-mail-aquamarine.svg");
  }
}

.order__legend--add {
  margin-bottom: 25px;
}

.order__textarea {
  width: 226px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 120px;
  font-size: 17px;
  line-height: 18px;
  color: $font-gray;
  outline: none;
  border: 2px solid $font-gray;

  &::placeholder {
    color: rgba($font-gray, 0.3);
  }

  &:hover,
  &:focus,
  &:active {
    border: 2px solid $aquamarine;
  }
}

.order__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
}

.order__prompt {
  padding: 0;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  color: $font-gray;
}

.order__button {
  width: 260px;
}

@media (min-width: $tablet-width) {
  .order__form {
    margin-bottom: 50px;
  }

  .order__container {
    width: auto;
    padding-top: 38px;
  }

  .order__centering {
    position: relative;
    width: $tablet-content-width - 170px;
    padding-left: 170px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: 0 auto;
  }

  .order__promotion {
    width: $tablet-content-width;
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .order__fieldset {
    display: block;
    width: $tablet-content-width - 170px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    padding-left: 170px;
    border: none;
  }

  .order__flex-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .order__legend {
    position: absolute;
    top: 68px;
    left: 0;
    font-size: 17px;
    line-height: 16px;
  }

  .order__label {
    display: flex;
    font-size: 19px;
    line-height: 18px;
    vertical-align: baseline;
  }

  .order__label--name {
    padding-top: 14px;
    margin-bottom: 22px;
  }

  .order__input {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    font-size: 19px;
    line-height: 18px;
    vertical-align: baseline;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
      vertical-align: baseline;
    }
  }

  .order__input--text {
    margin-left: 22px;
  }

  .order__label--radio {
    padding-top: 17px;
    padding-left: 80px;
    margin-bottom: 42px;

    &::before {
      top: 3px;
      left: -3px;
      width: 47px;
      height: 47px;
    }
  }

  .order__input--radio:checked + .order__label--radio::after {
    width: 20px;
    height: 20px;
    top: 18px;
    left: 13px;
  }

  .order__fieldset--color {
    width: auto;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 5px;
    background-color: $background-gray-light;
  }

  .order__fieldset--name {
    padding-bottom: 27px;
  }

  .order__fieldset--tel {
    width: auto;
    padding-bottom: 3px;
    padding-left: 0;
    padding-top: 0;
    background-color: $background-gray-light;
  }

  .order__input--tel {
    width: 443px;
    padding-top: 10px;
    padding-bottom: 13px;
    background-color: $background-gray-light;
    background-position: top 9px right 25px;
  }

  .order__fieldset--email {
    width: auto;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 30px;
    background-color: $background-gray-light;
  }

  .order__input--email {
    width: 443px;
    background-color: $background-gray-light;
    background-position: top 2px right 22px;
  }

  .order__fieldset--email .order__centering {
    padding-top: 10px;
  }

  .order__fieldset--email legend {
    top: 18px;
  }

  .order__label--checkbox {
    width: 160px;
    padding-left: 80px;
    padding-top: 14px;
    padding-bottom: 6px;
    margin-bottom: 38px;

    &:nth-child(4n) {
      margin-left: auto;
    }

    &::before {
      top: -1px;
      left: -1px;
      width: 50px;
      height: 48px;
    }
  }

  .order__input--checkbox:checked + .order__label--checkbox::after {
    top: 14px;
    left: 10px;
    width: 33px;
    height: 22px;
    background-size: 33px 22px;
  }

  .order__fieldset--add {
    padding-bottom: 42px;
    padding-left: 166px;
  }

  .order__textarea {
    width: 466px;
    padding-top: 13px;
    font-size: 19px;
    line-height: 18px;
  }

  .order__legend--color,
  .order__legend--tel,
  .order__legend--email {
    margin-left: 50%;
    transform: translateX(-335px);
  }

  .order__submit {
    display: flex;
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .order__prompt {
    margin-left: auto;
    font-size: 17px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .order__button {
    width: 230px;
    padding-top: 17px;
    padding-bottom: 17px;
    order: -1;
    font-size: 17px;
    line-height: 16px;
  }
}

@media (min-width: $desktop-width) {
  .order__container {
    padding-top: 80px;
  }

  .order__form {
    margin-bottom: 47px;
  }

  .order__fieldset {
    width: $desktop-content-width - 175px;
    padding-left: 175px;
  }

  .order__centering {
    width: $desktop-content-width - 175px;
    padding-left: 175px;
  }

  .order__promotion {
    width: 700px;
    padding-left: 175px;
    padding-right: 175px;
  }

  .order__legend {
    left: 63px;
  }

  .order__fieldset--color,
  .order__fieldset--tel,
  .order__fieldset--email {
    width: auto;
    padding-left: 0;
  }

  .order__input--tel,
  .order__input--email {
    width: 645px;
  }

  .order__input--tel {
    background-position: top 9px right 7px;
  }

  .order__input--email {
    background-position: top 2px right 3px;
  }

  .order__textarea {
    width: 665px;
  }

  .order__label--radio {
    &::before {
      left: 0;
    }
  }

  .order__input--radio:checked + .order__label--radio::after {
    left: 16px;
  }

  .order__label--checkbox {
    width: 184px;

    &:nth-child(2n) {
      margin-left: 0;
    }
  }

  .order__legend--color,
  .order__legend--tel,
  .order__legend--email {
    margin-left: 50%;
    transform: translateX(-530px);
  }

  .order__label--name {
    margin-bottom: 24px;
  }

  .order__input--text {
    margin-left: 24px;
    padding-left: 17px;
    padding-bottom: 10px;
    margin-right: 175px;
  }

  .order__fieldset--add {
    padding-bottom: 39px;
  }

  .order__submit {
    width: 700px;
  }
}
