.product-navigation__list {
  @include list-style-reset;
}

.product-navigation__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: $mobile-content-width;
    left: 50%;
    margin-left: -130px;
    background-color: $white;
  }

  &--light-blue {
    background-color: $aquamarine;

    &::before {
      background-color: $aquamarine-dark;
    }
  }

  &--dark-blue {
    background-color: $aquamarine-dark;
  }
}

.product-navigation__link {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-decoration: none;

  &:hover {
    top: -5px;
  }

  &::after {
    content: "";
    display: block;
    width: 50%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    opacity: 0.5;
  }

  &:hover::before {
    opacity: 0.7;
  }

  &:active::before {
    opacity: 0.3;
  }

  &--interior::before {
    background-image: url("../img/icon-interior.svg");
    background-size: 40px 62px;
    background-position: right 5px top 23px;
  }

  &--kids-toys::before {
    background-image: url("../img/icon-toy.svg");
    background-size: 60px 60px;
    background-position: 100% 21px;
  }

  &--light-blue {
    background-color: $aquamarine;

    &:hover,
    &:focus {
      background-color: $aquamarine-interactive;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $aquamarine-interactive;
    }
  }

  &--dark-blue {
    background-color: $aquamarine-dark;

    &:hover,
    &:focus {
      background-color: $aquamarine-dark-interactive;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $aquamarine-dark-interactive;
    }
  }
}

@media (min-width: $tablet-width) {
  .product-navigation {
    margin-bottom: 45px;
    position: relative;
    background-color: $background-gray;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 20px;
      left: 0;
      right: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: center;
      background-size: auto 100%;
    }
  }

  .product-navigation__list {
    display: flex;
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .product-navigation__item {
    width: 50%;

    &::before {
      display: none;
    }
  }

  .product-navigation__link {
    display: block;
    width: auto;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 165px;
    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 10px;
      right: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-navigation {
    margin-bottom: 53px;

    &::after {
      height: 40px;
    }
  }

  .product-navigation__list {
    width: $desktop-content-width;
  }

  .product-navigation__link {
    padding-right: 370px;
    padding-bottom: 50px;
  }
}
