.product {
  margin-bottom: 31px;
}

.product__info {
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid $border-light-gray;

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.product__heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.product__link {
  text-decoration: none;
  color: $black;
  display: block;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }

  &--photo {
    font-size: 0;
    line-height: 0;
  }
}

.product__photo {
  width: 260px;
  height: auto;
}

.product__properties {
  margin: 0;
  padding-bottom: 18px;
  margin-bottom: 20px;
  color: $font-gray;
  font-size: 13px;
  line-height: 30px;
}

.product__price {
  display: flex;
  margin-top: auto;
  margin-bottom: 27px;
  border-top: 1px solid $border-light-gray;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.product__cart {
  opacity: 0.2;
  margin-left: auto;
  fill: #231F20;

  &:hover,
  &:focus {
    opacity: 1;
    fill: $aquamarine;
  }

  &:active {
    opacity: 0.3;
    fill: $aquamarine;
  }
}

@media (min-width: $tablet-width) {
  .product {
    background-color: transparent;
    margin-bottom: 53px;
  }

  .product__heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
    padding-right: 40px;
  }

  .product__photo {
    width: 316px;
    height: auto;
  }

  .product__properties {
    font-size: 15px;
    line-height: 30px;
  }

  .product__info {
    display: flex;
    flex-direction: column;
  }

  .product__price {
    padding-top: 20px;
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .product {
    display: flex;
  }

  .product__link--photo {
    width: 334px;
  }

  .product__photo {
    width: 334px;
    height: 334px;
  }

  .product__info {
    width: 270px;
    padding: 0;
    padding-top: 23px;
    padding-left: 28px;
    padding-right: 35px;
  }

  .product__properties {
    border: none;
  }

  .product__price {
    margin-top: auto;
    border-top: 1px solid $border-light-gray;
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-direction: column;
    width: 316px;
  }

  .product__photo {
    width: 316px;
    height: 462px;
  }

  .product__info {
    width: 264px;
    padding-top: 26px;
    padding-left: 25px;
    padding-right: 25px;
    flex-grow: 1;
  }

  .product__heading {
    padding-right: 27px;
  }

  .product__properties {
    padding-bottom: 0;
    margin-bottom: 20px;
    border: none;
  }

  .product__price {
    margin-top: auto;
    border-top: 1px solid $border-light-gray;
  }
}
