.product {
  margin-bottom: 31px;
}

.product__info {
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 27px;
  border: 1px solid $border-light-gray;

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }
}

.product__heading {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.product__link {
  text-decoration: none;
  color: $black;
  display: block;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }

  &--photo {
    font-size: 0;
    line-height: 0;
  }
}

.product__properties {
  margin: 0;
  padding-bottom: 18px;
  margin-bottom: 20px;
  color: $font-gray;
  font-size: 13px;
  line-height: 30px;
  border-bottom: 1px solid $border-light-gray;
}

.product__price {
  display: block;
  margin-bottom: 27px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .product {
    background-color: transparent;
    margin-bottom: 55px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .product {
    display: flex;
  }

  .product__link {
    width: 50%;
  }

  .product__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
  }

  .product__price {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product {
    display: flex;
    flex-direction: column;
    width: 315px;
  }
}
