.product-navigation__list {
  @include list-style-reset;
}

.product-navigation__item {
  &--light-blue {
    background-color: $aquamarine;
  }

  &--dark-blue {
    background-color: $aquamarine-dark;
  }
}

.product-navigation__link {
  display: flex;
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-decoration: none;

  &--light-blue {
    background-color: $aquamarine;

    &:hover,
    &:focus {
      background-color: $aquamarine-interactive;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $aquamarine-interactive;
    }
  }

  &--dark-blue {
    background-color: $aquamarine-dark;

    &:hover,
    &:focus {
      background-color: $aquamarine-dark-interactive;
    }

    &:active {
      color: rgba($white, 0.3);
      background-color: $aquamarine-dark-interactive;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 50%;
  }
}

@media (min-width: $tablet-width) {
  .product-navigation {
    margin-bottom: 60px;
    background-color: $background-gray;
  }

  .product-navigation__list {
    display: flex;
    width: $tablet-content-width;
    margin: 0 auto;
  }

  .product-navigation__item {
    width: 50%;
  }

  .product-navigation__link {
    display: block;
    width: auto;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 165px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .product-navigation {
    margin-bottom: 75px;
  }

  .product-navigation__list {
    width: $desktop-content-width;
  }

  .product-navigation__link {
    padding-right: 370px;
  }
}
