.reviews__container {
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
}

.reviews__heading {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__list {
  @include list-style-reset;
}

.reviews__item {
  margin-bottom: 28px;
}

.reviews__text {
  padding: 0;
  margin: 0;
  color: $font-gray;
  margin-bottom: 25px;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.reviews__nickname {
  font-size: 17px;
  color: $font-gray;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $aquamarine-dark-interactive;
  }

  &:active {
    color: rgba($aquamarine-dark-interactive, 0.3);
  }
}

.reviews__toggles {
  font-size: 0;
  line-height: 0;
  margin-bottom: 38px;
}

.reviews__button {
  width: 130px;
  padding: 0;
  height: 52px;
  outline: none;
  border: 1px solid $border-light-gray;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 38px 50%;
  font-size: 16px;

  &:first-child {
    border-right: none;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--before {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--after {
    background-image: url("../img/icon-right-arrow.svg");
  }
}

.reviews__write {
  margin-bottom: 45px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-bottom: 50px;
    margin-bottom: 40px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left top;
  }

  .reviews__container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: $tablet-content-width;
    padding-top: 75px;
  }

  .reviews__container::before {
    content: "";
    width: 100%;
    order: -1;
  }

  .reviews__heading {
    width: 300px;
    order: -3;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    padding: 0;
    padding-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__write {
    align-self: center;
    padding: 15px 35px;
    margin-left: auto;
    order: -2;
  }

  .reviews__author {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 24px;
  }

  .reviews__nickname {
    display: block;
    font-size: 17px;
    line-height: 24px;
  }

  .reviews__toggles {
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 1;
  }

  .reviews__button {
    width: 88px;
    padding-right: 0;
    background-position: center;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    width: $desktop-content-width;
  }
}
