.social-navigation__list {
  @include list-style-reset;
  display: flex;
  justify-content: space-around;
}

.social-navigation__icon {
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
}

@media (min-width: $desktop-width) {
}
