.social-navigation__list {
  @include list-style-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.social-navigation__item {

}

.social-navigation__icon {
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social-navigation__list {
    width: 140px;
  }
}

@media (min-width: $desktop-width) {
}
