.video__container {
  width: 260px;
  margin: 0 auto;
}

.video__controls {
  position: relative;
}

.video__button {
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
}

.video__info {
  font-size: 13px;
  line-height: 24px;
  color: $font-gray;
}
