@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: $base-font-family;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0;
  color: $black;
  background-color: $white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
  opacity: 0.9;
  z-index: 1;
}

.overlay--on {
  display: block;
}
